.DS_Store
auto-save-list
build
elpa
*.dat
eshell
semanticdb
tramp
flycheck_*
.python-environments
*~
*.elc
private.el
saved-places
helm-adaptive-history
ido.last
url
recentf
/projectile-bookmarks.eld
*.cache
/server
/anaconda-mode
/games
/.cask
notes
/network-security.data
/user-modules.el
/nix-buffer
.lsp-*
/transient/
/backups/
/.dap-breakpoints
/.org-id-locations
