.DS_Store
auto-save-list
build
elpa
*.dat
eshell
semanticdb
tramp
flycheck_*
.python-environments
*~
*.elc
private.el
saved-places
helm-adaptive-history
url
recentf
/projectile-bookmarks.eld
*.cache
/.cask
notes
.lsp-*
/transient/
/backups/
/.dap-breakpoints
/.org-id-locations
var/
anaconda-mode
sql-connections.module.el
